.apartaments {
  position: relative;

  &::before {
    content: "III";
    top: -30px;
    right: calc(50% + 555px);
    transform: translate(50%, 0%);

    @include decorNumber;
  }
}

.apartaments__title {
  margin-bottom: 88px;
}

.apartaments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}