.footer {
  background-color: $footer;
  padding-top: 72px;
  padding-bottom: 51px;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.footer__logo {
  margin-bottom: -12px;
}