
.form__input {
  height: 50px;
  padding: 12px;
  font-size: 14px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: $text;

  &::placeholder {
    color: $placeholder;
  }
}

.font__privacy {
  font-size: 13px;
  font-weight: 400;
  color: $mited;
}

.form__btn {
  height: 50px;
  padding: 12px;
  font-size: 16px;
  color: $text;
  font-weight: 700;
  text-align: center;
  background-color: $accent;
}