
//Fonts
$font-main: 'Raleway', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-accent: 'Playfair Display'sans-serif;

//Colors
$text: #fff;
$dark: #242B33;
$accent: #D4C17F;
$footer: #2D343C;
$placeholder: #BEBEBE;
$mited: #E7E7E7;